body {
    background-color: #ccc;
}
.register {
    
    margin: auto;
    width: 30%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    text-align: right;/*the label adjustment*/
}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; /*important for the even spacing after label*/
    /*always specify width with flex*/
    margin-bottom: 20px;
}

label {
    width: 30%;
    margin-right: 10px; 
}

input[type="text"],
input[type="password"] {
    flex: 1; /*short hand for flex grow and shrink , meaning the element should take up the remaining space (vertically if direction is column and horizontally if row) if the parent div has extra space */
    /*Here’s what flex: 1 does in detail:

flex-grow (1): This allows the element to grow and take up available space proportionally within a flex container. When you set flex: 1, it means the element will take up any remaining space within the flex container. In your case, the input fields will expand to fill up space left over after accommodating the label and other elements in the same container.

flex-shrink (1): This allows the element to shrink proportionally if the flex container is too small. If there isn't enough space for all elements, the input field will shrink to fit within the container.

flex-basis (0%): This sets the initial size of the element before any growing or shrinking occurs. 0% means that the element's initial size is determined entirely by flex-grow and flex-shrink, not by its content or width.*/
    
    padding: 8px; 
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

.signUp {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1a972f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.signUp:hover {
    background-color: #45a84a;
}
